.list-container {
  list-style-type: none;
  margin: 15px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-image {
  height: 150px;
}

.name-heading {
  color: white;
  font-size: 25px;
  font-family: 'Roboto';
}
